
<%if @productos != nil%>
  <% @productos.each do |c| %>
    <tr>
      <td><%=c.codigo%></td>
      <td><%=c.descripcion%></td>
      <td><%=c.valor_unitario%></td>
      <td><%=c.stock%></td>
      <td><%=c.estado%></td>
      <%if c.stock > 0%>
          <td><%=link_to "Agregar", controller: 'cotizaciones', action:'agregarProd', codProd: c.codigo, remote: true, codigo:params[:codigo], desc:params[:desc], class:"btn btn-primary btn-xs"%> </td>
      <%end%>
    </tr>
  <%end%>
<%end%>
