<%if false %>
<style>
  thead.bcli{
    display: block;
  }
    tbody.bcli{
      display: block;
      height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
    }
</style>

<table>
  <thead class="bcli">
    <tr>
      <th>Nombres</th>
      <th>Rut</th>
    </tr>
  </thead>
  <tbody class="bcli" id="listaClientes">
    <% @clientes.each do |c| %>
    <tr>
      <td><%=c.nombres%></td>
      <td><%=c.rut%></td>
      <td><%=link_to "Seleccionar", controller: 'cotizaciones', action:'selCliente', rutCliente: c.rut, remote: true%> </td>
    </tr>
      <%end%>
  </tbody>
</table>
<%end%>
<!--
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">-->
    <table class="table table-striped custab" id="tblGrid">
    <thead>
    
        <td>Rut:</td>
        <td><input type="text" onkeyup="buscarCliente(this.value);"></td>
        <tr>
            <th>Nombres</th>
            <th>Rut</th>
            <th class="text-center">Accion</th>
        </tr>
    </thead>
    <tbody id="listaClientes">
        <% @clientes.each do |c| %>
          <tr>
          <td><%=c.nombres%></td>
          <td><%=c.rut%></td>
          <td><%=link_to "Seleccionar", controller: 'cotizaciones', action:'selCliente', rutCliente: c.rut, remote: true, class:"btn btn-info btn-xs"%></td>
          </tr>
        <%end%>
        </tbody>
    </table>
    <!--
    </div>
</div>
-->

