<table class="table table-responsive table-bordered table-condensed" id="listaCotizaciones" >

<% @cot.each do |c| %>
<%if c != nil%>
    <tr class="info">
        <th>
        Cotizacion N° <%=c.id%>
        </th>
        <th>
        Cliente: <%=c.cliente_id%>
        </th>
        <th>
        Funcionario: <%=c.usuario_id%>
        </th>
        <th>
        Fecha: <%=c.fecha.strftime("%d/%m/%Y - %H:%M")%>
        </th>
    </tr>
    <tr>
        <th>
        Validez: <%= c.validez %>
        </th>
        <th>
        Estado: <%= c.estado %>
        </th>
        <th>
        <%= link_to "Actualizar", {action:"administrar",cot_id:c.id}, class:"btn btn-primary center-block", style:"color:white;"%>
        </th>
        <th>
        <%= link_to "Eliminar", {action:"eliminarCot",cot_id:c.id}, class:"btn btn-primary col-xs-4 col-xs-offset-4 ", style:"color:white;", data:{:confirm =>'¿Esta seguro que desea eliminar estas cotización?'}%>
        </th>
    </tr>
    <tr>
        <th>
        Codigo Producto
        </th>
        <th>
        Descripción
        </th>
        <th>
        Cantidad
        </th>
        <th>
        Precio
        </th>
    </tr>
    
    <% c.productos.each do |p|%>
    <tr class="active">
        <td><%=p.codigo %></td>
        <td><%=p.descripcion %></td>
        <td><%=c.producto_cotizacions.find_by(:producto_id => p.id).cantidad%></td>
        <td><%= c.producto_cotizacions.find_by(:producto_id => p.id).cantidad*p.valor_unitario%></td>
        </tr>
    <%end%>
    
    <tr class="warning">
    <th colspan="3">
        Total
    </th>
    <td colspan="1">
        <%=c.total%>
    </td>
    </tr>

<%end%>
<%end%>
</table>