<tr>
  <th> Codigo </th>
  <th span="col-lg-4"> Descripción </th>
  <th> Valor Unitario </th>
  <th> Cantidad </th>
  <th> Subtotal </th>
  <!--<th> Descuento </th>
  <th> Total </th>-->
</tr>
<% @total = 0%>
<% if @prodsCot != nil && @cotizacion != nil %>
  <% @prodsCot.each do |p| %>
        <% @cantidad = @cotizacion.producto_cotizacions.find_by(:producto_id => p.id).cantidad%>
  <tr>
    <td><%=p.id%></td>
    <td><%=p.descripcion%></td>
    <td><%=p.valor_unitario%></td>
    <td><%= text_field :post, :cotizaciones, :value => @cantidad, :onkeyup => "cambiarCantidad(this,#{p.id});"%></td>
    <td><%@total += p.valor_unitario*@cantidad%><%=p.valor_unitario*@cantidad%></td>
  </tr>
  <%end%>
<%end%>
<tr>
  <td>
  <a href="#" class="btn btn-link"  title="Agregar producto" data-toggle="modal" data-target="#ProdModal">Agregar</a>
    <!--<a href="#" onclick="abrirListaProd();">Agregar</a>-->
    <%# link_to  "Agregar",'/productos/Buscar', remote: true %>
  </td>
</tr>

<%= javascript_tag("document.getElementById('total_neto').value = #{@total};
                    var d = document.getElementById('descuentos').value;
                    document.getElementById('subtotal').value = #{@total}-d;
                    var sub = document.getElementById('subtotal').value;
                    document.getElementById('iva').value = Math.trunc(sub*0.19);
                    var iva = document.getElementById('iva').value;
                    document.getElementById('total').value = +sub + +iva;") %>