<div name="buscarCli" class="oculto">
<table>
  <th>
    Buscar Cliente
  </th>
  <tr>
    <td>Rut:</td>
    <td><input type="text" onkeyup="buscarCliente(this.value);"></td>
  </tr>
</table>
  <%= render partial: 'listaClientes', locals:{clientes: @clientes} %>
</div>

<div name="buscarProd" class="oculto">
  <h2>Lista de productos</h2>
  <div>
    <p>Codigo:</p>
    <input name="cod" type="text" onkeyup="buscarProd(this,document.getElementsByName('desc')[0]);" >
    <p>Descripcion</p>
    <input name="desc" type="text" onkeyup="buscarProd(document.getElementsByName('cod')[0],this);" >
  </div>

  <%= render partial: 'listaProductos', locals:{productos: @productos}%>
</div>

<%= render partial: 'datosClienteFuncionario', locals:{cliente: @cliente}%>


<table border="1" style="display: inline-block;max-height: 292px;overflow-y: auto" id="tabla_productos_cotizacion">

  <%= render partial: 'productosCotizacion', locals:{prodsCot: @prodsCot, cotizacion: @cotizacion}%>

</table>


<%=form_tag do%>
  <table border="1" >
    <th colspan="4">
      Datos Cotización
    </th>
    <tr>
      <td>N° Cotización</td>
      <td><%= text_field_tag  :num, cotizacion_actual.id%></td>
      <td>Fecha</td>
      <td><%= text_field_tag  :fecha , Time.now%></td>
    </tr>
    <tr>
      <td>Estado</td>
      <td>
        <%= select_tag('estado','<option value="Pendiente">Pendiente</option><option value="Rechazada">Rechazada</option><option value="Aceptada">Aceptada</option><option value="Expirada">Expirada</option>'.html_safe)%>
      </td>
      <td>Total Neto</td>
      <td><%= text_field_tag  "Total"%></td>
    </tr>
    <tr>
      <td>Forma de Pago</td>
      <td>
        <%= select_tag('forma_de_pago', '<option value="Efectivo">Efectivo</option><option value="Tarjeta">Tarjeta</option><option value="Cheque">Cheque</option>'.html_safe )%>
      </td>
      <td>Descuento</td>
      <td><%= text_field_tag 'Descuento', 0%></td>
    </tr>
    <tr>
      <td>Validez</td>
      <td><%= text_field_tag  'validez'%> dias  </td>
      <td>Sub total</td>
      <td><%= text_field_tag  'SubTotal'%></td>
    </tr>
    <tr>
      <td>Observaciones</td>
      <td><%= text_field_tag  'observaciones' %></td>
      <td>Iva</td>
      <td><%= text_field_tag  'Iva'%></td>
    </tr>
    <tr>
      <td><br></td>
      <td><br></td>
      <td>Total</td>
      <td><%=text_field_tag  'TotalF'%></td>
    </tr>
  </table>
  <%=submit_tag "Actualizar", :controller => 'cotizaciones', :action => 'actualizar'%>
<%end%>

<%# link_to "Actualizar", '/cotizaciones/actualizar' ,method: :post%>
<%= link_to "Consultar", nil %>
<%= link_to "Limpiar", nil %>
<%= link_to "Imprimir", nil %>
<%= link_to "E-Mail", nil %>
<%= link_to "Volver", controller: :cotizaciones , action: :salir%>