<div class="container">
<% if params[:modo] != nil%>
	<%case params[:modo]%>
	<%when "1"%>
		<% ids = [] %>
		<% content_for :title, 'Listado de clientes por vendedor' %>
		<h3>Listado de clientes por vendedor</h3>
		<table class="table">
		<% @cots.group_by(&:usuario_id).each do |id, c|%>
		<%if id != nil %>
		<thead>
		<tr>
			<th>
				Rut de vendedor  
			</th>
			<th>
				<%= @us.find(c[0].usuario_id).rut%>
			</th>
		</tr>

		<tr>
			<th>
			Rut Cliente
			</th>
			<th>
			Nombre
			</th>
			<th>
			Telefono
			</th>
			<th>
			Correo
			</th>
		</tr>
		<% c.each do |cot| %>
		<%if cot.cliente_id != nil && !ids.include?(cot.cliente_id)%>
		<tr>
			<td>
			<%=@cli.find(cot.cliente_id).rut%>
			</td>
			<td>
			<%=@cli.find(cot.cliente_id).nombres%>
			</td>
			<td>
			<%=@cli.find(cot.cliente_id).telefono%>
			</td>
			<td>
			<%=@cli.find(cot.cliente_id).email%>
			</td>
		</tr>
		<% ids << cot.cliente_id %>
		<%end%>
		<%end%>

		<%end%>
		<%end%>
		</table>
	<%when "2"%>
	<h1>Modulo empresa no implementado</h1>
	<%when "3"%>
	<h3>Listado de clientes de la empresa</h3>
	<table class="table">
	<thead>
		<tr>
			<th>
				Nombre 
			</th>
			<th>
				Monto
			</th>
			<th>
				Fecha
			</th>
			
		</tr>
	<% @cots.where("estado = 'Aceptada'").group_by(&:cliente_id).each do |c_id, cot| %>
		<% c = cot.sort_by &:fecha%>
		
		

		<tr>
			<th>
				<%= @cli.find(c_id).nombres%>
			</th>
			<th>
				<%= c.first.total%>
			</th>
			<th>
				<%= c.first.fecha%>
			</th>
		</tr>
	<%end%>
	</thead>
	</table>
	<% when "4"%>
	<h3>Listado de clientes sin compra</h3>
		<table class="table">
			<thead>
				<tr>
					<th>
						Rut 
					</th>
					<th>
						Nombre 
					</th>
					<th>
						Fecha ingreso
					</th>
				</tr>
				<% @cots.where("estado != 'Aceptada'").group_by(&:cliente_id).each do |c_id, cot| %>
					<tr>
						<th>
							<%= @cli.find(c_id).rut%>
						</th>
						<th>
							<%= @cli.find(c_id).nombres%>
						</th>
						<th>
							<%= @cli.find(c_id).created_at%>
						</th>
					</tr>
				<%end%>
			</thead>
		</table>
    <%when "5"%>
	<h1>Modulo empresa no implementado</h1>
	<%when "6"%>
	<h1>Modulo empresa no implementado</h1>
	<%when "7"%>
	<h1>Modulo empresa no implementado</h1>
	<%end%>


	<%end%>

<%end%>
<%=link_to "Cerrar", '_self', onclick:"window.close();", class:"btn btn-default btn-md center"%></td>
</div>