<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Privilegios</th>
      <th>Ultimo login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.rut %></td>
        <td><%= usuario.nombre %></td>
        <td align="center"><%= usuario.privilegios %></td>
        <td><%= usuario.ultimo_login %></td>
        <td><%= link_to 'Mostrar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_usuario_path %><br>
<%= link_to 'Volver', 'home' %>
