<div class="panel">
<div class="panel-body text-center col-xs-6 col-xs-offset-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @usuario.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Privilegios:</strong>
  <%= @usuario.privilegios %>
</p>

<p>
  <strong>Ultimo Login:</strong>
  <%= @usuario.ultimo_login %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario),class:"btn btn-primary btn-xs", style:"color:white;" %> |
<%= link_to 'Volver', usuarios_path, class:"btn btn-primary btn-xs", style:"color:white;" %>
</div>
</div>